@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply bg-gray-900;
}

.overlay-dark {
  background-color: rgba(26, 32, 44, 0.96);
}

.slideIn-enter-active {
  transition: opacity .3s ease-in-out;
}

.slideIn-leave-active {
  transition: opacity .2s ease-in-out;
}

.slideIn-enter, .slideIn-leave-to
{
  opacity: 0;
}

.slideIn-enter-active .modal-content, .slideIn-leave-active .modal-content {
  transition: opacity .3s, transform .5s;
  transform: translateX(0);
}

.slideIn-enter .modal-content
{
  transform: translateX(-40px);
  opacity: 0;
}

.slideIn-leave-to .modal-content {
  transform: translateX(40px);
  opacity: 0;
}
